a{
    text-decoration:none;
}
a:hover{
    text-decoration: underline;
}
#body1{
    margin: 0;
}
.div{
    width: 100%;
    height: 45px;
    background: #333;
    text-align: center;
}
.div a{
    display: inline-block;
    color: white;
    width: 12.3%;
    line-height: 45px;
    font-size: 20px;
}
.div a:hover{
    color: pink
}
.ac{
    text-align: center
}
.color-red{
    color: red
}